# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3

# dotenv environment variables file
.env

# Flask instance folder
instance/

# Pytest cache
.pytest_cache/

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Unit test / coverage results
.coverage
htmlcov/
